body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(65, 96, 105, 0.466);
  color: rgb(97, 97, 145);
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content:stretch; 
}

.itens {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  background: #f7f7f7;

}